{% extends 'base.html' %}

{% block content %}

{% if cultivation_posts %}    

	<h1>{{ cults }}</h1>

	<ul>
	{% for cultivation in cultivation_posts %}
		<li><a href="{% url 'article-detail' cultivation.pk %}">{{ cultivation.title }}</a> 

			
			- {{ cultivation.author.first_name }} {{ cultivation.author.last_name }} -  
			{{ cultivation.post_date }} <small>

			{% if user.is_authenticated %}	
				- <a href="{% url 'update_post' cultivation.pk %}">(Edit)</a> 

				<a href="{% url 'delete_post' cultivation.pk %}">(Delete)</a>
			{% endif %}

		</small> <br/>
		{{ cultivation.body|slice:":50"|safe }}</li>
	{% endfor %}
	</ul>

{% else %}
	<h2>Sorry this page does not exist...</h2>
{% endif %}

{% endblock %}